# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml

/.idea/
/config/
/vendor/
/.vendor/
/nxlog/
/log/
/build/

misc/nxmock/nxlog
misc/nxmock/nxlog.exe

dist/cache
dist/pkg
dist/tmp-build
dist/tmp-dest
dist/collectors/

.filebeat

/sidecar.yml

# Dependency management
/glide
