Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Marius Sturm <marius@graylog.com>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
